*{
    padding: 0%;
    margin: 0%;
    font-family:'Poppins';
}
nav{
    font-size: 0.9rem;
}
.navbar{
    font-weight: normal;
}

.navbar a:hover{
    border-bottom: 4px solid #fb5c59;
    font-weight: bold;
}

.logo{
    height: 60px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.left{
    width: 60%;
}
.right{
    width: 60%;
}

h4{
    font-weight: bold;
    font-size: 1rem;
}

img{
    height: 30px;
}


.headings{
    margin-top: 20px;
}
.thin{
    font-weight: 400;
    font-size: 3rem;
}
.bold{
    font-weight: bold;
    font-size: 3rem;
    color: #fb5c59;
}

.right{
    margin: 20px 0 20px auto;
    background-color: #fb5c59;  
    width: 500px;
    box-shadow: rgb(138, 200, 138) 5px 20px 12px;
    border-radius: 20px;
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.subject{
    margin-top: 50px;
    border-radius: 20px;
    height: 85vh;
    /* animation: bounce 3s ease-in-out infinite; */
}
.main{
    margin-top: 10px;
}


@keyframes updown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust as needed */
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust as needed */
    }
}
