*{
    padding: 0%;
    margin: 0%;
    font-family:'Poppins';
}
nav{
    font-size: 0.9rem;
}

.logo{
    height: 60px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.left{
    width: 60%;
}
.right{
    width: 60%;
}

h4{
    font-weight: bold;
    font-size: 1rem;
}

img{
    height: 30px;
}


.headings{
    margin-top: 20px;
}
.thin{
    font-weight: 400;
    font-size: 3rem;
}
.bold{
    font-weight: bold;
    font-size: 3rem;
    color: #fb5c59;
}

.right{
    margin: 0 0 10px auto;
    background-color:#b33e3c;
    border-radius: 20px;
    height: 60vh;    
    text-align: center;
}

.subject{
    
    margin-top: 20px;
    border-radius: 20px;
    height: 70vh;
}









.right {
    position: relative;
    
        display: flex;
    justify-content: center;
    align-items: center;
    animation: updown 3s ease-in-out infinite;
}

.subject {
    /* Adjust as needed */
    animation: bounce 2s ease-in-out infinite;
}

@keyframes updown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust as needed */
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Adjust as needed */
    }
}
